[2011-06-21 08:56] thlengge opened #1 "Problem with two screens on Mac OS 10.6.7"
With my two screen setup I never see the SAML tracer window.
The Firefox Menu 'Window' shows an entry for 'SAML tracer', but I cannot activate it and it does not show, also not with Expose.
On my MacBookAir with the same software versions and a single screen I see the SAML tracer window.

I used SAML Tracer 0.1, Firefox 4.0.1, Mac OS X 10.6.7 on an iMac7,1 with ATI,RadeonHD2600

[2011-06-21 09:10] thlengge opened #2 "SAML tracer misses SAML2 AuthN Requests"
I first connected to Shibboleth SP1, there the AuthN Request shows up in the SAML tracer window, but it does not get recognized and decoded.
After successful login on the Shibboleth IdP I see the SAML assertion and it gets properly decoded.

Thereafter I connected to Shibboleth SP2. Here the SAML2 AuthN Request does not show up at all in the SAML tracer window. The redirect to /idp/AuthnEngine is

[2011-06-23 06:09] olavmrk opened #3 "Support for IdP discovery protocol"
We should support the SAML 2.0 «Identity Provider Discovery Service Protocol and Profile».

Specification: http://docs.oasis-open.org/security/saml/Post2.0/sstc-saml-idp-discovery.pdf

[2011-06-23 06:10] #2 closed, assigned to nobody

[2011-06-23 06:11] #1 closed, assigned to nobody

[2011-08-17 04:25] guitarmanvt opened #4 "Pretty-printed XML isn't verifiable"
The "SAML" tab decodes and displays the XML statements that are sent. A pretty-printing algorithm is used, likely to make it easy to read. This feature should be kept.

However, the pretty-printed XML does not preserve the original whitespace. This makes it impossible to verify the signature using M2Crypto or other tools.

I would like to be able to view the raw XML, exactly as it is encoded. (OK,

[2011-09-27 11:30] pgmvdm opened #5 "Feature Request - Allow Export and Import of trace"
First of all thanks for sharing this really useful tool!

I would like to suggest a new feature that would help us a lot. For support purposes it would be great if the trace of a session could be exported to disk so that it can be imported at a later time for examination. This will allow traces to be captured and then sent (e.g. by encrypted mail) to a support organisation to diagnose a problem.

[2012-05-11 17:10] guitarmanvt opened #6 "Not capturing SAML POSTs"
On Firefox 12 "Mozilla Firefox for Ubuntu canonical - 1.0" (on Ubuntu 11.10).

I'm running an SP on http://127.0.0.1:9000 and an IdP on http://127.0.0.1:8000.

The initial AuthnRequest HTTP POST isn't being captured. The IdP is responding with a 302 and redirecting to a login page. This login page's GET _is_ being captured and reported, instead of the HTTP POST.

Live HTTP Headers is capturing all

[2012-08-03 11:16] adamjbradley opened #7 "WS Fed-tracer?"
Not really a bug, more feedback (couldn't find a better place to send it) Wondering if there's any effort to develop a WS-Fed decoder?

Happy to help!

Sincerely,
//Adam

[2012-09-21 15:29] CBongo opened #8 "Enable/disable tracing without closing window"
Feature request:

LiveHeaders has a  checkbox control to enable/disable the tracing function itself while leaving its window open.  This is useful if you are trying to debug an issue while your browser continues auto-refreshing unrelated pages in the background.

Something like this would be handy in SAML-tracer.  It could be added as a button alongside the "Clear", "Autoscroll", and "Filter resou

[2013-07-17 11:10] #6 closed, assigned to nobody

[2014-04-30 06:47] mrvanes opened #9 "Firefox 29"
I can't find SAML tracer menu in revamped Firefox 29 interface anymore. Is it compatible?

[2014-06-03 10:25] olavmrk opened #10 "Fix handling of some Shibboleth requests"
It appears that Shibboleth create requests that fail to be decoded. Probably because it included line feeds in the base64-encoded query parameter.

Example:

[code]

[2014-09-24 11:21] #10 closed, assigned to nobody

[2014-09-24 11:23] #4 closed, assigned to nobody

[2014-09-24 12:34] thijskh opened #12 "Does not specify license in source repository"
Going from https://addons.mozilla.org/nl/firefox/addon/saml-tracer/ the license is BSD, but this is not mentioned if you only have a checkout of the source code. Maybe add a short README file?

[2014-09-25 16:10] #12 closed, assigned to nobody

[2014-10-01 15:11] #9 closed, assigned to nobody

[2014-11-05 03:20] flowardnut opened #14 "&qout?"
Why are you using &qout and not &quot?

(SAMLTrace.js)
 function xmlEntities(string) {
string = string.replace('&', '&amp;', 'g');
string = string.replace('"', '&qout;', 'g');
string = string.replace("'", '&apos;', 'g');
string = string.replace('<', '&lt;', 'g');
string = string.replace('>', '&gt;', 'g');
return string;
}

[2014-11-05 10:51] #14 closed, assigned to nobody

[2015-03-18 08:31] mrvanes opened #15 "Chrome version"
The only reason I still fire up Firefox now and then is for SAML-tracer. What are the odds of a Chrome version? There still is no good replacement in that arena.

[2015-03-20 08:07] olavmrk commented on #15
Unlikely to be created by me at least -- I have no experience with Chrome extension-development, and I don't have time available to create such an extension in the foreseeable future.

If someone else wants to create one, they are certainly free to use the source code of this extension as a starting point. I don't think much of the code can be reused though, since the majority of code is relativel

[2015-03-20 08:07] #15 closed

[2015-08-20 15:32] usethedata opened #17 "Unable to resize SAML Trace Window"
Sorry if this is a stupid, but I've looked to find the answer and I'm getting nowhere. The gist is that on a Mac (10.10), I'm unable to resize the SAML Tracer window to make reading the SAML traces easer.  I have a memory that I was able to do this before, so maybe there's a Mac update or Firefox update that's affected this.

[2015-08-21 09:07] olavmrk commented on #17
It is possible to resize the window on other platforms, and it was supposed to be possible to do so on a Mac as well, but for some reason it doesn't work. @jaimeperez has mentioned the same problem to me, so it is certainly not only your installation.

Unfortunately, as I don't have a Mac, I haven't been able to debug this problem. If someone with a Mac wants to take a look at it, a good place to

[2015-09-06 17:20] jaimeperez commented on #17
I can confirm the issue in the latest versions of both Firefox and Firefox for developers. It's been like that for a while, and I think the issue appeared again (after being fixed) with the last version of SAML tracer. Can't confirm this last point, though.

[2015-09-07 07:32] thijskh commented on #17
Is #16 the solution to this or not? I cannot verify since on my platform, resizing works just fine.

[2015-09-07 08:07] jaimeperez commented on #17
I've just verified that it works with both *Firefox* and *FirefoxDeveloperEdition*, so I'm merging #16.

[2015-09-07 08:07] #17 closed

[2015-10-14 07:52] thijskh commented on #15
You might want to take a look at https://chrome.google.com/webstore/detail/saml-chrome-panel/paijfdbeoenhembfhkhllainmocckace

[2016-10-14 19:15] davidbateforgerock commented on #5
Can we get an export to text feature?  Makes it easier for searching.

[2016-10-15 13:51] thijskh commented on #5
The export is to JSON, which is a plain text format. So that makes it very well searchable, no?

[2016-11-16 08:29] andreicristianpetcu opened #18 "Please mark it as e10s compatible since it works well on e10s!"
Awesome addon! :)

https://developer.mozilla.org/en-US/Add-ons/Install_Manifests#multiprocessCompatible

[2017-02-21 21:06] dominique-p opened #21 "FireFox requires add-ons to be signed"
Hello,
the latest Firefox browser want their add-ons to be signed. This was introduced with Firefox 45 and will be obligatory from Firefox 48:

cf. Add-on signing in Firefox
https://support.mozilla.org/t5/Problems-with-add-ons-plugins-or/Add-on-signing-in-Firefox/ta-p/30262#w_what-can-i-do-if-firefox-disables-an-installed-add-on

This extension is so useful that I am dreading the day it could be d

[2017-03-22 23:03] inetquestion commented on #21
Any updates on this?  Has anyone cloned this who is currently maintaining under a different name?

[2017-08-15 07:35] #18 closed

[2017-08-15 07:40] thijskh commented on #21
Why is this necessary? You can get this extension from Mozilla Add-ons and it will be properly signed. If you install it from source for development you need to disable signing, this is documented. But that cannot be signed if you want to change the source. What value would there be in providing a signed add-on separate to the one in Mozilla Add-ons?

[2017-08-15 07:41] thijskh commented on #5
This can be closed.

[2017-08-15 07:42] #5 closed

[2017-09-21 04:42] joseph-so opened #22 "No longer support in the Firefox v57 (Developer edition)"
This plugin is marked as a legacy plugin in v57 and disabled.

[2017-09-21 07:57] thijskh commented on #22
Which version of the extension are you using?

[2017-09-21 09:55] joseph-so commented on #22
0.4.0, the latest version in the Firefox Add-ons store. I believe it is related to this https://support.mozilla.org/en-US/kb/firefox-add-technology-modernizing?as=u&utm_source=inproduct.

I still can use it in the Firefox (non-developer edition) v 55.0.3, but the addon page mentioned it is legacy

[2017-09-26 20:18] fkooman commented on #22
See also https://arewewebextensionsyet.com/

[2017-09-26 20:22] fkooman commented on #22
From November (Firefox 57 release date) it will stop working for everyone. You can still use ESR for a while I guess.

[2017-10-06 05:53] khlr commented on #22
@thijskh Are there any plans on migrating samltracer to a WebExtension?

[2017-10-06 06:37] thijskh commented on #22
I'm not the maintainer of SAML-Tracer but would also surely be interested in it to keep on working.

[2017-10-06 09:32] jaimeperez commented on #22
I haven't had time to look into this, and unfortunately I don't think I'll have in the near future. In any case, I really think someone with more knowledge (or any, in this case 😅 ) of SAMLtracer than me should take care of this. Don't know if @olavmrk could find some time at some point for it.

[2017-10-06 10:24] khlr commented on #22
Did you consider marking this (and other issues) with the #hacktoberfest label? ;)

[2017-10-12 14:25] jaimeperez commented on #22
I didn't even know about it, but thanks a lot for the tip! 😄

[2017-11-15 06:22] DanielMalmgren commented on #22
...and today FF 57 was rolled out. This was an important utility for me, quite handicapped now. Any hope on it getting fixed?

[2017-11-15 07:38] thijskh commented on #22
@DanielMalmgren  Yes, see #23. Your help is welcome there.

[2017-11-30 18:26] ethanklitz opened #24 "[Enhancement] Filter Resources to only show SAML Request/Response"
I troubleshoot SAML on sites with lots of GET/POST noise. Would really appreciate the 'Filter Resources' to only show SAML. Seems like IF this.request.saml could be added to 'isRequestVisible'. Wish I could do PR to demonstrate but not well versed in extension dev.

[2017-12-01 13:07] relaxi opened #25 "export function"
Can you add the export function again?

[2017-12-01 13:22] thijskh commented on #22
Fixed in 1.0!

[2017-12-01 13:22] thijskh commented on #21
No longer relevant for 1.0

[2017-12-03 16:12] tvdijen opened #26 "Lines are not propertly cutoff"
![image](https://user-images.githubusercontent.com/841045/33527219-fe1f0696-d84c-11e7-9731-a5b971794d64.png)

See selected area.. Gotta translate encoded characters before cutting off the line.

[2017-12-03 19:02] khlr commented on #26
Hello Tim!

I may be wrong, but it think that's just the encoded content of that claim. Did you notice that the value starts with a `&lt;saml:NameID ...`?

But could it be possible that content is malformed since it doesn't end with an encoded closing tag?

![image](https://user-images.githubusercontent.com/17160647/33528692-d41aa77a-d864-11e7-8676-aab80d6606d1.png)

[2017-12-03 22:58] tvdijen commented on #26
It does end with a `&gt;` but the line is cutoff right in the middle of that code... Or am I just missing it?
I guess it's a bit of an edge-case because the value is a NameID here...

[2017-12-04 08:44] DanielMalmgren opened #28 "Only select relevant info upon ctrl+A"
A minor annoyance in 1.0: When i Click in the lower half of the window (ie where the HTTP/Parameters/SAML is displayed) and press ctrl+A the logical thing would be if only the stuff in that part of the window is selected. I often use this to copy the SAML ticket somewhere else and I'm almost sure it worked that way in 0.4. If I do that in 1.0 it also selects the upper half, ie the list of HTTP cal

[2017-12-04 09:58] martinhaase commented on #22
It does work on my Windows box, but not on Linux... 57.0 here, current Fedora, the SAML tracer window opens but is blank, with a moz-extension://<some uuid> title. Any help?

[2017-12-04 10:47] thijskh commented on #22
Right-click the window and the contents will appear. This seems to be a FF-bug

[2017-12-04 10:54] martinhaase commented on #22
great, thanks, that worked! :)

[2017-12-04 10:58] martinhaase opened #29 "multiple POST variables with same name only appear once"
Doing a POST, looking at the variables for a checkbox with multiple values. Expecting:

However, SAML Tracer shows only one of them. I have not checked whether this affects also GET query parameters.

[2017-12-04 13:42] thijskh commented on #22
Other extensions (e.g. "Kee" formerly known as "KeeFox") show the same behaviour so it's indeed likely a FF bug.

[2017-12-04 17:48] khlr commented on #29
Hi Martin!

You're right, that's a bug (POST-only, GET works).
My bad... I didn't correctly convert the function `parsePOST`.

For anyone interested: You can reproduce this using the following two JSFiddles (checking "coding" and "music"):

GET (https://jsfiddle.net/p7sfp61r/1/) produces:
[code]

POST (https://jsfiddle.net/p7sfp61r/) produces:
[code]

[2017-12-04 18:07] khlr commented on #29
I just fixed it in pull request #30.

[2017-12-04 18:21] khlr commented on #26
Is there a way for me to reproduce this?

[2017-12-04 18:45] khlr commented on #28
Hello Daniel!

You're right, that behaviour definitely changed from 0.4.0 to 1.0.0!

Let me explain why:
Formerly, the XUL-based UI consisted of "real" controls. The control that held the details confined the impact of the ctrl+a to its own contents.
Now the whole UI is made of HTML. Hence it acts like an arbitrary website: If you press ctrl+a somewhere in this GitHub issue, the entire document wi

[2017-12-04 20:47] DanielMalmgren commented on #28
Maybe simply a "select all" button? Or even better, a "copy ticket" that puts the SAML contents in the copy buffer?

[2017-12-04 21:44] tvdijen commented on #26
Sure! Go to https://engine.openconext.moo-archive.nl/authentication/sp/debug, select SimpleSAMLphp and login using khlr/Welcome01 to generate this SAMLreponse

[2017-12-05 07:37] martinhaase commented on #29
Thanks Jan for the quick response! Good stuff!

[2017-12-05 18:31] khlr commented on #28
I think, I'd favour to just capture the keydown-event an handle the ctrl+a.
We could achieve the desired behaviour this way, and avoid having a distinct button for this case.

I'll see what I can do until next weekend.

[2017-12-05 18:59] khlr commented on #26
Thank you for the test-account!

![image](https://user-images.githubusercontent.com/17160647/33624611-3ba7ab04-d9f5-11e7-88ef-0db52e598661.png)

It's ok, that the attribute value is HTML-encoded. It's just the _eduPersonTargetedID_'s value. It's due to the window's size, that the line in your screenshot ends with an ampersand. If you resize it, the linebreak will be on another position.

The claim

[2017-12-06 22:21] Clark76 commented on #25
Along with export, the import function would be very helpful.

[2017-12-08 20:20] khlr commented on #26
@tvdijen could you please re-enable the test-account? I'd like to debug this a bit more.

[2017-12-08 20:24] tvdijen commented on #26
It's done @khlr!

[2017-12-08 20:29] khlr commented on #26
Thanks, Tim!
But unfortunately there's an error when I try to log in: `76b54a0604`
`Authentication processing filter without name given.`

[2017-12-08 20:37] tvdijen commented on #26
I'm very sorry! It has been fixed now..
As you can see, I use this setup for all kinds of testing / PoC's / development, so this could happen again!

[2017-12-08 22:29] khlr commented on #26
Well, I think this could be quite easily fixed by replacing this old method (which only replaced the first occurrence of a character)

    function xmlEntities(string) {
      string = string.replace('&', '&amp;', 'g');
      string = string.replace('"', '&quot;', 'g');
      string = string.replace("'", '&apos;', 'g');
      string = string.replace(/</g, '&lt;');
      string = string.replace('>'

[2017-12-11 05:51] MohammadAKHussain opened #31 "Support for decrypting encrypted SAML assertions"
Feature request:
Is it possible to add a feature to SAML tracer to add/load a private key, in order to decrypt encrypted SAML assertions?

I've run into some configurations where SAML assertions are encrypted, preventing the ability to view the assertion. The only way I found by searching online was to use the online tool (www.samltool.com/decrypt.php), but even that page itself recommends not usi

[2017-12-11 06:52] tvdijen commented on #31
I agree this would be an interesting feature!

[2017-12-17 12:59] khlr commented on #25
For anyone interested in this issue: I'll start working on it soon. I expect to have some free time for this after Christmas.

[2017-12-31 16:17] khlr commented on #25
Some news on the progress: I think I'm halfway through with the export-part. Although I think that I could still spend a lot more time on UX things ;-)

Does anybody have an old export at hand? When I start working on the import-part (maybe within the next week) it'd be nice if I had an old exported file so that I can try to ensure that even old exports can be imported again.

[2018-01-01 10:11] thijskh commented on #25
Great news! I don't have any saved traces handy that I can share. But to me, backwards-compatibility is not very essential there. Usually there's a small timeframe between the trace being generated and it being imported, I hardly ever try to import an trace older than say a few days.

[2018-01-01 16:26] tvdijen commented on #25
I will look up an old trace for you tomorrow @ work... Must have a couple in my mail

[2018-01-02 09:09] tvdijen commented on #25
There ya go!
[samltracer_export.txt](https://github.com/UNINETT/SAML-tracer/files/1597112/samltracer_export.txt)

[2018-01-16 19:36] khlr commented on #25
If nothing unexpected comes up, I'm quite confident that I'll be able to finalize my changes tomorrow and submit a pull request! 🤗

[2018-01-18 19:05] RandomGuy26 opened #33 "Issues with current version"
Since the latest version was released, it doesn't appear to be working with any version of FireFox that I've found. One workaround that had work was to use FireFox ESR, but then that too quit working.

Anyone seeing this problem? Is there a workaround?

[2018-01-18 19:31] khlr commented on #33
Hi!

Which Firefox versions did you try?
Do you use Windows or Linux?

[2018-01-18 20:44] RandomGuy26 commented on #33
Windows 7

Current version I tried was ESR 52.5.3, tried the version before it as well. Also used 32-bit FireFox 56.0 and SAML 0.4.0 but letting it update to 1 breaks it.

Sent from my iPhone

On Jan 18, 2018, at 1:40 PM, Jan Köhler <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi!

Which Firefox versions did you try?
Do you use Windows or Linux?

—
You are receiving this bec

[2018-01-19 13:36] Bigfoot0007 commented on #33
52.5.3 (32-bit), can 't work now.

[2018-01-19 14:22] RandomGuy26 commented on #33
Right I have tried MANY versions of FireFox I can't recall them all.

Is there a version of Firefox where SAML Tracer 1 works with? Maybe that's a better approach to the issue.

Sent from my iPhone

On Jan 19, 2018, at 7:36 AM, Lyndon <notifications@github.com<mailto:notifications@github.com>> wrote:

52.5.3 (32-bit), can 't work now.

—
You are receiving this because you authored the thread.
Repl

[2018-01-19 14:26] thijskh commented on #33
I've just reïnstalled SAML Tracer 1.0 from addons.mozilla.org from scratch on FF 57.0.4 on Linux and that just works. Only thing is the known (FF) bug that the window is initially blank unless you right-click it.

Perhaps it helps if you describe what doesn't work exactly or how it fails.

[2018-01-19 15:01] RandomGuy26 commented on #33
FF ESR 52.5.3 64-bit the right clicking on the window did not work, I will try to find a 57 version.

Sent from my iPhone

On Jan 19, 2018, at 8:26 AM, Thijs Kinkhorst <notifications@github.com<mailto:notifications@github.com>> wrote:

I've just reïnstalled SAML Tracer 1.0 from addons.mozilla.org<http://addons.mozilla.org> from scratch on FF 57.0.4 on Linux and that just works. Only thing is the k

[2018-01-19 19:24] khlr commented on #33
First of all: Any SAML Tracer version before v1.0 won't work from FF57 onwards, since the support for XPCOM/XUL-based extensions [was dropped with that FF-version](https://blog.mozilla.org/addons/2016/11/23/add-ons-in-2017/).

Consequently, with v1.0 SAML Tracer has been converted from a XUL-based extension to a WebExtension. This type of extension will be compatible from FF57 onwards, but _may_ n

[2018-01-20 08:28] thijskh commented on #33
Agreed with khlr: there's nothing wrong with SAML-Tracer 0.4 so you can just continue to use it with older browser versions. And use 1.0 and up for post-57 FF.

[2018-01-22 15:04] #25 closed

[2018-01-22 15:10] #29 closed

[2018-01-22 15:15] #22 closed

[2018-01-22 15:15] #21 closed

[2018-01-25 15:22] jaimeperez commented on #28
This is solved in 1.1.

[2018-01-25 15:22] #28 closed

[2018-01-25 15:26] jaimeperez commented on #33
I think @khlr summarized pretty well what versions of the SAML tracer will work with what versions of Firefox, so I'm closing the issue.

[2018-01-25 15:26] #33 closed

[2018-02-07 01:23] ElijahLynn commented on #33
The known bug/issue with a whitescreen unless you right-click should be linked to from this issue.

[2018-02-07 08:11] thijskh commented on #33
It's https://bugzilla.mozilla.org/show_bug.cgi?id=1425829
and perhaps https://bugzilla.mozilla.org/show_bug.cgi?id=1408446

[2018-02-12 15:28] #8 closed

[2018-02-12 15:28] jaimeperez commented on #8
Available in SAML tracer 1.3.

[2018-02-24 10:06] khlr opened #39 "Name of the extension"
This may not be a big deal, but anyways ;-)

The other day I stumbled about the extension's name. It's different in various locations:

* Here in the repo at Github the extension's name is `SAML-tracer` (hypen + lower t)
* In the code (esp. in the readme.md) it's `SAML Tracer` (whitespace + upper t)
* At the Firefox Addons Page it's `SAML tracer` (whitespace + lower t)

I'd suggest `SAML-tracer`.

[2018-02-26 09:44] jaimeperez commented on #39
Hi @khlr!

I don't think this is a needless fuss in any way. Actually, I pretty much agree with you, as I find myself with the same trouble all over again. I don't have any special preferences, so whatever is easier to change /breaks less stuff works fine for me 😉

[2018-02-26 19:06] khlr commented on #39
Ok, then I'll do the necessary code changes in the near future. It's just a small thing 😉

Is there a way to change the name at the Addons Page from `SAML tracer` to `SAML-tracer`, @jaimeperez?
I mean that's not absolutely necessary, but would be the icing on the cake 😁

![image](https://user-images.githubusercontent.com/17160647/36689718-84edb732-1b30-11e8-88ba-b82109947cde.png)

Anyways, the URL

[2018-02-26 19:27] jaimeperez commented on #39
Great, thanks!

I’m not entirely sure it’s possible, but i’ll check :-)

--
Jaime

On 26 Feb 2018, at 20:07, Jan Köhler <notifications@github.com<mailto:notifications@github.com>> wrote:

Ok, then I'll do the necessary code changes in the near future. It's just a small thing 😉

Is there a way to change the name at the Addons Page from SAML tracer to SAML-tracer, @jaimeperez<https://github.com/jaim

[2018-02-27 14:27] jaimeperez commented on #39
... aaand there we have the [icing](https://addons.mozilla.org/en-US/firefox/addon/saml-tracer/) 🍾

[2018-02-27 14:27] #39 closed

[2018-02-27 19:16] khlr opened #41 "Add up-to-date screenshots"
Another probably small issue 😉

Now that the extension's name has been updated, it'd be nice if there'd be at least one (or more) up-to-date screenshots of SAML-tracer at the Firefox Addons Page. Currently there's a really old screenshot. If I were new to SAML-tracer and I'd start it for the first time, I'd be surprised that the actual extension looked significantly other than shown on the screens

[2018-02-27 21:30] tvdijen commented on #41
![afbeelding](https://user-images.githubusercontent.com/841045/36755876-cb871b06-1c0d-11e8-9f93-1639c8eea57c.png)
The whole reponse is too big, but does this help?

[2018-02-28 05:37] khlr commented on #41
Thanks @tvdijen! I think that one serves as a really good example since it shows a lot of content 👍

[2018-02-28 07:15] tvdijen commented on #41
By the wat, you should still have access on my IdP @khlr..

[2018-02-28 09:53] jaimeperez commented on #41
Updated! I've also taken the chance to change the icon of the extension to match the one displayed in the toolbar.

Thanks a lot guys!

[2018-02-28 09:53] #41 closed

[2018-03-03 14:26] khlr opened #42 "Logo"
I'm still not too happy with the SAML logo (<img src="https://github.com/UNINETT/SAML-tracer/raw/master/src/resources/images/saml.png" alt="SAML Logo" width="16" />) in the browser toolbar. And I don't think it serves as a too good logo at the Firefox Addons page either ;-)

So, I assembled all my creative skills ... ![ugly](http://www.smilietown.de/smilies/ugly/ulgy_01.gif) ... and made some draf

[2018-03-03 15:42] jaimeperez commented on #42
Oh well, I can tell you then that your creative skills are awesome compared to mine 😝

If I have to choose, I think I'd stick with **4d**, as I believe it would be easier to see. I like all of them though, and it's probably much better than my initial idea to include a loupe icon 😆

[2018-03-03 16:35] khlr commented on #42
I had something like that in mind, too (see draft 5a above).
But I think most times a loupe icon is utilized for a *search* functionality rather than for an *inspect* functionality.

[2018-03-03 16:59] jaimeperez commented on #42
That's true...

What about putting the loupe between XML angles? Something like: `< 🔍>`. Maybe it's too wide for a squared logo, but just an idea...

[2018-03-03 17:15] khlr commented on #42
🤔

[2018-03-04 08:35] thijskh commented on #42
I actually quite like 5c...

[2018-03-04 12:36] khlr commented on #42
I added another one: 6a
But I'm afraid one doesn't recognize the key in the 16px icon...

[2018-03-04 16:58] tvdijen commented on #42
Why not best of both; something like this:  https://goo.gl/images/bSh9Mc

[2018-03-05 19:10] khlr commented on #42
I _really_ (!) like that icon, @tvdijen! I played a little bit around with that model, but unfortunately I don't manage to make our drafts to look similar without plainly plagiarizing it. And I don't feel comfortable with somewhat copying someone other's work. That's the least thing I wanna do. I hope you understand my point 🙂

I also tried to make another category-4-draft with dots and lines. Bit

[2018-03-06 07:28] tvdijen commented on #42
It`s actually a licensed image, so for a couple of bucks we could actually legaly plagiarize it 😉

[2018-03-06 18:00] khlr commented on #42
Yep, we could simply buy it. But did you take a look at the license agreement? Maybe I get this wrong, but it says: "Not allowed: [...] Use an Item in a logo, trademark, or service mark." Unfortunately that's exactly our purpose: to use it in a logo 😕

[2018-03-07 07:48] tvdijen commented on #42
Oh, that's too bad... I hadn't read it because I brought it up for inspiration in the first place...

[2018-03-07 08:09] jaimeperez commented on #42
That's a pity indeed...

I'm thinking about it a little, and I believe the only ones that would be seen easily in the toolbar are 5a/b or 6a. Another option, though, would be to have two versions of the logo:

- One "inverted", with a transparent background, that could allow us to use all the space available to have a better, clearer icon for the toolbar.
- Another regular icon with the orange bac

[2018-03-07 18:45] khlr commented on #42
I think the inversion is a really good idea. This has the nice side effect, that the icon seems more "baked into" the browser.

Here are some impressions:

## draft 4d:
![image](https://user-images.githubusercontent.com/17160647/37111260-864e0896-223f-11e8-8c62-9f6b83a484cb.png)

## draft 5b:
![image](https://user-images.githubusercontent.com/17160647/37111216-6efebb18-223f-11e8-98a7-357be93995ab.

[2018-03-07 18:51] khlr commented on #42
I think 5b is really clear und bold. Unfortunately it looks like a search tool. I probably wouldn't expect SAML-tracer behind that icon ;-)

6a might be ok... But I still think it's not too easy to recognize the key symbol...

5c is better, I think. But unfortunately it's quite light.
4d might be ok as well.

[2018-03-07 20:08] tvdijen commented on #42
5b : definitely not suitable for anything other than a search-button...
5c : just doesn't do it for me
6a : a key has no connection to SAML for me

I'd go with 4d if I'd had to pick one of these

[2018-03-08 09:42] jaimeperez commented on #42
Would [any](https://marketplace-cdn.atlassian.com/files/images/com.resolution.atlasplugins.samlsso.Confluence/3b815737-99e6-4d86-8eb0-e39d6fc091a2.png) [of](https://2.bp.blogspot.com/-jsPlIka_b_o/WYsLmoYpKvI/AAAAAAAAUbI/SgsW-oIBnqUe04CQXeHILe_I1z2DzuCagCLcBGAs/s1600/saml.jpg) [these](https://www.portalguard.com/images/icons/code.png) concepts make sense?

[2018-03-08 18:45] khlr commented on #42
Well, I think I wouldn't associate a puzzle piece with SAML. The padlock is equally seems appropriate/inappropriate as the key symbol. And I think both are problematic in 16px.

The code-icon will certainly look good in 16px, but it's absolutely not unique. 😉 And to me it would more apply something related to coding.

It's not easy 🤔😉

The concept of a "token" is something veeery abstract. This ma

[2018-03-08 19:13] tvdijen commented on #42
My girl is willing to try and replicate the licensed icon without plagiarizing it, if we still like that one?

[2018-03-08 19:30] khlr commented on #42
It's probably a good idea to ask a more creative person, anyways 😊

[2018-03-10 16:36] tvdijen commented on #42
The girlfriend came up with the following:
![img-20180310-wa0005](https://user-images.githubusercontent.com/841045/37244443-63083892-2489-11e8-806d-223bff399f8d.jpg)

[2018-03-10 16:42] khlr commented on #42
Nice, this looks very promising 👍

The angle brackets inside the loupe are a very good idea, I think!
Could she alter draft 1 or 2 to have a "usual" grasp instead of the connected dots (as in drafts 3-5)?

And I'd be very interested in 16px representations 😉

[2018-03-10 16:48] tvdijen commented on #42
Are those toolbar icons really 16x16? They look more like 24x24 to me
Anyway, the grasp shouldn't be a problem if we decide to go with 1 or 2...

[2018-03-10 16:56] khlr commented on #42
Yep, unfortunately they're 16px...

[2018-03-10 18:30] tvdijen commented on #42
![img-20180310-wa0007](https://user-images.githubusercontent.com/841045/37245515-7a9011b4-2499-11e8-9aed-2b61546b02b2.jpg)

[2018-03-10 18:54] tvdijen commented on #42
![img-20180310-wa0012](https://user-images.githubusercontent.com/841045/37245724-cf55cb28-249c-11e8-8c95-9f9010ba03b3.jpg)

[2018-03-11 07:48] khlr commented on #42
They're all really easily recognizable! 👍

Well I guess then it's only a matter of personal preference. So if I had to choose, I'd pick no. 2. My second choice would be no. 3.

[2018-03-12 08:17] jaimeperez commented on #42
They look wonderful!

I think I'd go for no. 4 or 2 from the last screenshot, though we should check how they actually look like in a real browser...

[2018-03-12 18:37] khlr commented on #42
Do you have the possibility to clone the repo? Then you could simply modify the browser action entry in the manifest.json.
There you'd have to provide your new icon as 16px PNG.

[2018-03-12 21:17] tvdijen commented on #42
I can try.. But wouldn't I need a developer version of Firefox for that?
Anyway, I've asked for 16x16px PNG-exports.. Probably tomorrow night

[2018-03-13 06:01] khlr commented on #42
That's not necessary. You can debug extensions with any version of Firefox 😊 Please, take a look at the SAML-tracer readme. The relevant resources are linked there.

If you don't have the time right now, I can assist you with that or create the pull request for you. 👍

[2018-03-14 02:04] Bigfoot0007 opened #44 "Firefox ESR 52.6.0 (32-bit) can't work."
Firefox ESR 52.6.0 (32-bit) can't work.

[2018-03-14 09:30] thijskh commented on #44
This is because Firefox decided to change their extension API.

[2018-03-14 09:46] #44 closed

[2018-03-14 09:59] jaimeperez commented on #7
Hi @adamjbradley!

This was contributed by @khlr in #43 and has just been merged 😄

[2018-03-14 09:59] #7 closed

[2018-04-04 11:01] thijskh opened #47 "Resources not filtered when HTTP 304"
When _filter resources_ is enabled, I still see (gray) lines for some png, css and js. I strongly suspect these are resources that return an 304 Not Modified HTTP response.

Looking at the code I think it's this part that makes them not filtered: no content-type is sent in this case, so true is returned:
https://github.com/UNINETT/SAML-tracer/blob/bfa10c1d50ba98bcd40aeab66efd6dfc62d36935/src/SAMLT

[2018-04-04 18:55] khlr commented on #47
Well, the function could be extended to look at the _request_ headers (instead of the _response_ headers, only), if the response is a 304.
In that case it could check if the request headers contained [preconditions](https://tools.ietf.org/html/rfc7232#section-3) and then hide the request.

It's a bit difficult to reproduce this. Could you supply an exported trace with a 304? I think I can fiddle a

[2018-04-19 14:31] BadStreff commented on #31
Is there any progress made on this? This is something that would be extremely useful

[2018-04-19 15:11] khlr commented on #31
Hi @BadStreff! I'd guess there's no one actively working on this at the moment. ¯\_(ツ)_/¯

[2018-04-19 18:04] BadStreff commented on #31
Are pull requests welcome? I'm not extremely familiar with Javascript but this is something I would be willing to take a look at - I have a feeling more than just us in the thread would find this useful.

[2018-04-19 18:31] khlr commented on #31
As far as I can tell, I think your contribution would be very welcome! :)

[2018-05-10 15:50] philgp opened #48 "Not working in Firefox 60.0"
Was working in last 59.x release. Updated to Firefox 60.0 yesterday, and now opening the SAML tracer window does open an appropriately-sized window, but it's empty.
![saml tracer screen shot 2018-05-10 at 11 51 44 am](https://user-images.githubusercontent.com/14933187/39879346-94e0a252-5448-11e8-81b5-43c258ef3eab.png)

[2018-05-11 08:42] thijskh commented on #48
Right-click the window and content will appear. This is a known bug in Firefox.

[2018-05-12 18:50] DanPM commented on #48
For me is not working in any firefox >5.0. Any tips?

[2018-05-21 17:14] kevinfoote commented on #48
@thijskh, right-click worked here as well. Wshew ;) I was starting to panic and prepare to go backwards in FF versions.

[2018-05-30 11:33] jaimeperez commented on #42
@tvdijen did you test the different icons?

[2018-06-04 15:36] JE8 commented on #48
I'm having same issue. right-click (opposite click in my case) is not working...
52.8.0 (64-bit) running on Windows 10 Enterprise.

Anyone have a perm fix? or another idea for fix?

[2018-06-05 14:07] tvdijen opened #49 "Mangled data in export (Chrome)"
I've received an export made with SAML-tracer on Chrome that has some seriously mangled data in it:

![naamloos](https://user-images.githubusercontent.com/841045/40980959-05bd6190-68da-11e8-85d3-5814635031c7.png)

I don't have Chrome myself, so it's a bit difficult to test for me.. Can't reproduce it on Firefox, but I'm pretty sure the IdP didn't produce a token like that, even though it's MS ADFS

[2018-06-05 20:24] khlr commented on #49
This is probably an encoding issue. I think it's related to the manual parsing of the formdata that's required in the chrome version (see [here](https://github.com/UNINETT/SAML-tracer/pull/46/commits/c5da8965df166e542b6b969838dd450f1f5b79ca)).

[2018-06-05 20:50] tvdijen commented on #49
And that hasn't been released yet, I guess?

[2018-06-06 05:01] khlr commented on #49
The manual parsing is a required part of v1.5, so that's released.
But I wasn't aware of this (presumable) encoding issue. Hence there's something to do to avoid the mangled output.

[2018-06-07 08:55] tvdijen commented on #49
But the code you're referring to is an unmerged PR...  Looking at it, that's likely to solve this issue

[2018-06-07 18:28] khlr commented on #49
I had better linked to this commit: https://github.com/UNINETT/SAML-tracer/commit/c5da8965df166e542b6b969838dd450f1f5b79ca

Sorry to disappoint you, but it's already merged 😐 I think this issue requires a bit additional effort. I will have look into it as soon as I find some time for that (may take some time).

[2018-06-08 19:17] khlr commented on #49
@tvdijen, do I still have access to your test-IdP?
I'm really embarrassed, but it seems that I've somewhat mislaid the credentials... 🙈
Would you be so kind to supply them again to me?

[2018-06-08 19:41] khlr commented on #49
Thanks a ton, Tim!

[2018-06-10 15:54] khlr commented on #49
I think, I found the error. It was an incorrect way of decoding _application/x-www-form-urlencoded_ values inside the function `postStringToFormDataObject` (see the fixing commit https://github.com/UNINETT/SAML-tracer/pull/46/commits/a09c82bbddf7b64a64a39c7657fac07dc5168880).

When I implemented that function, I only tested it against a WS-Federation IDP. The replacement of plusses with whitespace

[2018-06-10 16:30] tvdijen commented on #42
Unfortunately, I can't get Adobe Illustrator installed on my PC :(  Perhaps anyone else that has it and can make an 16x16 export?
[no4.zip](https://github.com/UNINETT/SAML-tracer/files/2088034/no4.zip)

[2018-06-26 08:58] #48 closed

[2018-07-23 08:34] thijskh commented on #3
Basically the only way to recognise such requests is whether there's a `entityID` URL parameter present. This seems so a-specific that I think such discovery service protocol would flag too many requests as "SAML".

Since the SAML tracer already splits out the get parameters in the Parameters tab, you already have quite a decent overview of what happens in those requests, and I'm also not sure wha

[2018-11-08 12:21] dnmvisser opened #52 "Only the first ampersand displays encoded"
I have somewhere in my SAML response a few AttributeValues that contain ampersand characters. From the SimpleSAMLphp logs on the IdP that generates the response I can see that these are all correctly encoded as `&amp;` in the XML.
SAML-tracer displays one entry correctly.
But there is also an entry that contains _two_ ampersands, and in this case only the first one displays as encoded, while the s

[2018-11-08 12:36] tvdijen commented on #52
I think the issue is [here](https://github.com/Uninett/SAML-tracer/blob/1e3768f5e4ea20342297339bb6d8f4063048e6a9/src/SAMLTrace.js#L62-L69).

replace() has no third parameter...
The global-directive, that the current 'g' is representing should be a part of the first parameter...
string.replace(/&/g, '&amp;') would fix this

[2018-11-08 12:41] #49 closed

[2018-11-08 12:45] tvdijen commented on #52
This fix was actually already discussed [here](https://github.com/Uninett/SAML-tracer/issues/26#issuecomment-350388158)

[2018-11-10 18:41] khlr commented on #52
Yep, seems to be this issue.
But anyways, I'm still not sure if it's basically a good thing, that SAML-tracers encodes the content of a claim:

So from my understanding the claim value should be encoded (since it's xsi:type="xs:string"), but that shouldn't be done by SAML Tracer - I think that should be done by the IdP before issuing the token. Or am I getting this wrong?

So regardless of whether

[2018-11-11 06:00] dnmvisser commented on #52
Good point.
I’d say tracer should display all content unencoded, i.e. as it appears on
the wire.
The deciding should be left to “real” user agents.

Dick

On Sat, 10 Nov 2018 at 19:42, Jan Köhler <notifications@github.com> wrote:

--
Sent from a mobile device - please excuse the brevity, spelling and
punctuation.

[2018-11-15 10:39] thijskh commented on #48
The issue is gone for me with FF 63.

[2018-11-15 10:40] thijskh commented on #33
It does not happen anymore for me on FF 63

[2018-11-15 10:40] thijskh commented on #22
It now seems to work correctly in FF 63.

[2018-11-16 18:17] khlr commented on #22
Cool, works for, too!
Finally! :-)

[2019-01-28 19:06] khlr commented on #52
Yep, that's definitely a point! That's the reason why I think that SAML-tracer should change as less as possible of the original HTTP-traffic.
But since the webRequest-API delivers certain parts of the payload in a decoded fashion you won't come around encoding it again, if you want to display the data in a way it _might_ have been sent... ;-)

[2019-05-04 07:20] mrvanes opened #54 "SAML Tracer disabled by firefox add-on signing policy"
https://support.mozilla.org/en-US/kb/add-on-signing-in-firefox?as=u&utm_source=inproduct
![image](https://user-images.githubusercontent.com/1901782/57175554-bfbecb00-6e4d-11e9-8921-86a3a87f4827.png)

[2019-05-04 07:31] mrvanes commented on #54
Problem in Firefox

[2019-05-04 07:31] #54 closed

[2019-05-06 12:00] dgersh opened #55 "Firefox just started disabling this add on"
Firefox seems to have just started disabling this add on, perhaps due to a signing issue. Might be a simple fix?

![saml-tracer](https://user-images.githubusercontent.com/1133790/57223722-0ab71a80-6fd5-11e9-93d7-33e0b0567975.png)

[2019-05-06 12:54] tvdijen commented on #55
https://blog.mozilla.org/addons/2019/05/04/update-regarding-add-ons-in-firefox/

Please update Firefox to the latest version to fix this issue.

[2019-05-06 13:20] dgersh commented on #55
Excellent that did it. Usually FF notifies me of an update but I had to go chase it.

[2019-05-22 11:13] jaimeperez commented on #52
Thanks a lot for investigating into this @khlr!

While reading the discussion, I was wondering... why does the webRequest API decode HTML entities in some parts of the response? Or is it that the response will, coincidentally, only have those entities in the attribute values?

The thing is... I can totally see why certain characters would get HTML-encoded inside an attribute's value as sent by the

[2019-05-22 12:37] tvdijen commented on #55
@jaimeperez Could you please close this one?

[2019-05-22 13:24] jaimeperez commented on #55
Done!

[2019-05-22 13:24] #55 closed

[2019-05-30 15:03] khlr commented on #52
Good question. I _assume_ it's to make the users' lifes easier. A lot of people might want to use the unencoded values.  ¯\\_(ツ)_/¯

Sorry this was a misunderstanding of mine in #26. I had been fooled by the webRequest-API again... ;-) By now I'd say it's *not* ok to have anything other than a plain string in an attribute value. So everything inside of the value should be (and probably almost alwa

[2019-06-23 09:21] durkovic opened #56 "Wrong display/export of UTF-8 strings"
SAML tracer does not correctly display and/or export UTF-8 strings:
[code]

Same problem in exported .json file

[2019-07-06 21:57] khlr commented on #56
Thank you for reporting this issue and sorry for the late reply.
I think PR #57 should do the trick :-)

[2019-07-08 06:38] durkovic commented on #56
Thanks, with your patch accented chars are displayed correctly.

[2019-07-08 06:42] jaimeperez commented on #56
Thanks @durkovic for reporting this and @khlr for fixing it! I've just merged the PR 😄

[2019-07-08 06:42] #56 closed

[2019-07-15 07:41] #42 closed

[2019-07-15 18:34] khlr commented on #52
Oh boy, now I'm sort of confused…

Until just now I've been of the mind that there are only plain types like strings or integers and the like allowed of values of an `AttributeValue`. Although I think that these types are what one'll usually see in tokens there may be other more complex values out in the wild 😉

The spec clearly states, that `AttributeValue` can be of `anyType` which (at least I t

[2019-07-17 06:17] jaimeperez commented on #52
Hi @khlr!

Yes, that was exactly what I was trying to convey in my previous message, though I think I failed miserably 😅

In any case, you are right, XML is perfectly valid inside an attribute's value. In fact, it's not uncommon at all. The `eduPersonTargetedID` attribute is defined as a SAML `NameID`, and as such, it's essentially XML. Even though this attribute is deprecated and not recommended

[2019-07-19 09:16] khlr commented on #52
Thank you for the clarification, @jaimeperez!

Having this in mind the solution seems to simply drop the function `xmlEntities` since there's no need to encode anything. What do you think?

[2019-09-26 17:19] nand09 opened #60 "support for firefox keyboard-shortcuts"
It would be good to have the ability to put a keyboard shortcut that will open the saml-tracer tool.

[2019-10-05 18:10] khlr commented on #60
Hello Fernando!

Thank you for that feature suggestion! May I ask for your motivation for that feature? Do you start SAML-tracer so frequently that a keyboard shortcut would be a real benefit for you? I'm just asking because I didn't miss that feature yet.

[2019-11-18 13:22] #52 closed

[2020-01-11 21:21] nand09 commented on #60
Hi Jan,

I tend to use it pretty often. I usually use it in a private tab and most of the times I open a private tab by using the keyboard so if I can save one click and open the tool while my hands are already on the keyboard then that would be nice.

[2020-01-20 18:25] khlr commented on #60
Hi Fernando,

I will have a look into this (but it might take some time 😇)
Just a reminder for myself: https://stackoverflow.com/questions/18132873/chrome-commands-keyboard-shortcuts-not-working

[2020-01-21 18:51] khlr commented on #60
I assigned the shortcut <kbd>ALT</kbd> + <kbd>SHIFT</kbd> + <kbd>S</kbd> to open SAML-tracer.

But please note [this restriction](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/manifest.json/commands#Key_combinations):

Hence chances are, that this will (or could) conflict other keyboard shortcuts...

However you can override this shortcut and define your own one:
Firefox:

[2020-02-07 16:21] michaellewis259 opened #66 "Null value in exported file"
I'm having issues with exporting the trace.  It doesn't matter if I mask/exclude values or not, the resulting file shows as null. This is happening in both Firefox and Chrome, which leads me to believe there is something I need to allow with one of my security tools, but nothing is showing up in their various consoles. Do you have any ideas as to what is going on?

[2020-02-10 09:58] khlr commented on #66
Hi Michael!

Unfortunately I cannot reproduce this behaviour.
Could you please launch the dev tools (<kbd>F12</kbd>) within the extension window and see if it outputs some stacktrace or something similar at the console-tab?

![grafik](https://user-images.githubusercontent.com/17160647/74139792-45994f00-4bf4-11ea-9994-414ed1c25816.png)

[2020-02-10 13:16] michaellewis259 commented on #66
I'm showing a few errors:

![image](https://user-images.githubusercontent.com/25157013/74152819-b9c3fa80-4bd4-11ea-907e-d68d4cecb43d.png)

debug from the first JS error:
`/**
 * Some functionality to support the import/export
 * for SAML-tracer
 * Added to SAML-tracer by M. Dobrinic
 * 2011-dec
 **/

// export SAMLTrace namespace to make ao. Request definitions available
var EXPORTED_SYMBOLS = ["S

[2020-02-11 17:02] khlr commented on #66
Does this occur for each and every trace you try to export?
Or does it only happen, when there's a certain request contained in the trace?

Could you please try make a small trace. E.g. just trace the request to this issue. Is it exportable?

I could very well imagine that there's a single request in your trace which causes the error.
We probably need to narrow down the source of the problem 😉

[2020-02-11 18:59] michaellewis259 commented on #66
I receive this error on ANY export attempt, both Chrome and Firefox. This is why I think it's something to do with our Cylance policy that is preventing the export from completing

[2020-02-11 19:19] tvdijen commented on #66
I'm on a REALLY tight government workstation and even I can use SAML-tracer..
Why not try and disable your security tool for a second and see if it makes any difference, instead of asking us to debug the indebuggable/non-reproducible issue?

[2020-02-12 17:13] khlr commented on #66
Yep, as Tim said it's really hard to guess what the problem may be. 🤔

I think it's really worth a try disabling Cylance for a moment.
Does it log something when re-enable it and try the export again? Does it prevent other downloads or similar things, too?

[2020-02-14 17:01] michaellewis259 commented on #66
That's what I was somewhat obscurely asking for in my initial post. Are there any paths your extensions runs from I can try to exclude from our EPP?

[2020-02-14 17:25] tvdijen commented on #66
What do you mean by paths? This add-on is all javascript..

[2020-02-14 19:38] michaellewis259 commented on #66
I ask because EPPs can block scripts based upon policies, and I need the path the script runs from to exclude said script(s)

[2020-02-15 09:42] khlr commented on #66
You could try the following:
* Type `about:support` into Firefox's addressbar. There you'll find an extensions-section.
* Look for SAML-tracer in the table and note its ID.
* Go back to the top of the support-page and open the path to your profile-folder.
* Open the extensions-folder.
* There you'll find a file named like `<SAML-tracer extension ID>.xpi`
* Exclude the path to that file from your E

[2020-02-22 12:07] khlr commented on #66
Did this work out for you, @michaellewis259? Or did you give up on it? 😕

[2020-03-02 01:05] michaellewis259 commented on #66
Nothing seems to be working, no exclusion I make (that's acceptable from a security standpoint) helps.  I'll just use a VM or something.  I appreciate the assist, and sorry for the wasted time.

[2020-03-02 01:05] #66 closed

[2020-03-04 17:05] tlenex opened #67 "Network Error with axios.js XHR GET requests"
This plugin causes Network Error with https://github.com/axios/axios `GET` requests that includes `Authentication` header.

Please consider supporting cors headers if request is mapping or cutting off headers in some way.

Occurs in Chrome 79+

[2021-10-18 14:57] bzbzh opened #69 "Export is null on certain conditions"
For certain SAML traces it occured to me than the export return an empty file (in fact a file with "null" inside).

An error raises here:
[code]

When trying to stringify "req.getResponse()" when it returns null.

I wonder if it would be a good solution to alter this:
[code]
In particular:
`      tracer.addRequestItem(entry, () => entry.res);`
to
`      tracer.addRequestItem(entry, () => entry.res

[2021-11-16 09:31] #60 closed

[2021-11-30 08:32] si-heger commented on #66
Even though this issue is closed I just want to add that I have the exact same issue

[2021-11-30 09:05] tvdijen commented on #66
@si-heger Are you using the same security product as the OP? If you can help us get to the problematic code, we can try to fix it..

[2021-11-30 09:23] si-heger commented on #66
@tvdijen We are not using the same products but similar stuff like Crowdstrike Falcon and Tenable Nessus. Getting the code is difficult as I am not a programmer :) If you can send me an instruction on how to get more details I can do that

[2021-11-30 14:58] tvdijen commented on #66
See if you can get things to work by following @khlr 's [suggestions](https://github.com/simplesamlphp/SAML-tracer/issues/66#issuecomment-586572896).
I'm not familiar with Crowdstrike or Tenable, but I'm sure it produces logs if it blocks something..

[2021-12-15 10:24] ggambini opened #71 "SAMLrequest not show"
Hello

Since last update (14 december ?), SAMLtracer on Firefox (78ESR and 95) dont show SAMLrequest, only SAMLresponse.

Regards, Gilian

[2021-12-15 10:54] tvdijen commented on #71
I can confirm this

[2021-12-15 11:24] khlr commented on #71
Seems to be related with the updated version of pako:

I just wonder why this doesn't occour when decoding a SAMLresponse... 🤔

Anyway... I will have a closer look later.
For the meantime I suggest using version 1.6 ... Sorry for this! 😐
https://addons.mozilla.org/firefox/addon/saml-tracer/versions/

[2021-12-15 11:49] thijskh commented on #71
I have unpublished 1.7 at AMO for now.

[2022-01-15 01:59] khlr commented on #71
This ist fixed in Version 1.7.1

[2022-01-15 01:59] #71 closed

[2022-06-30 14:34] kellenmurphy opened #74 "SAMLTracer.js Error in Firefox Developer Edition (103.0b2)"
SAML-tracer appears to have stopped functioning in the latest Firefox Beta (Developer Edition tracks with Beta)

[code]

I've tried tried disabling all other extensions, etc. This occurs only with FF 103 insofar as I can tell... which will be the "main" version of Firefox come July 22. I don't know precisely that this is an issue with SAML-tracer vs. FF, though a cursory search on Bugzilla doesn't

[2022-06-30 14:40] thijskh commented on #74
I think this is where it goes awry:
https://github.com/simplesamlphp/SAML-tracer/blob/a500371f614c07f4b86871e81f7bcc2e46a82ee9/src/SAMLTrace.js#L907-L913

Apparently your browser does not satisfy the test in the method "isFirefox()". So a value is sent that Firefox does not understand. Question is why your Firefox is not Firefox.

[2022-06-30 14:46] thijskh commented on #74
[This Bugzilla item seems](https://bugzilla.mozilla.org/show_bug.cgi?id=1772905) to describe more about the InstallTrigger deprecation and explicitly mentions the use of this construct to test for Firefoxness. And if understand it well, also that in "late beta" they will make using InstallTrigger for this purpose work again?

[2022-06-30 15:00] tvdijen commented on #74
We might consider doing an actual user agent check instead of using this strange `InstallTrigger` global?

[2022-07-01 07:24] khlr commented on #74
This is a really interesting issue! 🙂👍

I think you have to ask yourself why `isFirefox()` is needed at all. It was intruduced with pull request #61 because Chrome 72+ requires `extraHeaders` to access some certain HTTP headers. Therefore, "is Firefox" is actually misleading. It is rather the question whether it "is Chrome".

We could easily utilize the user agent string to determine the browser t

[2022-07-01 07:53] tvdijen commented on #74
Is it actually still a problem to pass the extra parameter in Firefox? Because it is in the [Mozilla MDN](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/webRequest/onBeforeSendHeaders) and nothing on that page indicates it wouldn't work on Firefox.. Is it perhaps something from the past?

If we still need it, it should perhaps be possible to test the amount of parameter

[2022-07-01 08:59] khlr commented on #74
The problem isn't `addListener`'s third parameter (`extraInfoSpec`). It's rather the values that `extraInfoSpec` can hold.
While the Chrome-webRequest-API _requires_ the value `extraHeaders` (see [here](https://developer.chrome.com/docs/extensions/reference/webRequest/)), the Firefox-webRequest-API can't handle that value (the docs don't mention it at all) and FF throws the exception that Kellen r

[2022-07-01 11:37] tvdijen commented on #74
Ah, my bad.. Forget what I said :)

[2022-07-01 11:37] thijskh commented on #74
Ideally we'd change the detection method. But I would only change it if it's actually a significant improvement. The code suggested by @khlr seems indeed quite a lot of code/effort for the simple case.

They are adding the object back in late beta (even if it's only null) precisely because the way we test for it was "the way to do it" and many extensions did it. So I'm not afraid it will break qui

[2022-07-01 11:45] tvdijen commented on #74
How about the `window.chrome` var?

[2022-07-01 13:51] kellenmurphy commented on #74
I think there may be a predefined constant can be leveraged here (see: https://stackoverflow.com/questions/69287721/how-to-manipulate-webrequest-cookie-in-a-cross-browser-extension).

Specifically, the answer:

[code]

I'll try to test this... would be happy to create a PR with that change if it works.

It seems to me that a simple check that can be applied with initiating the listener seems like

[2022-07-01 23:20] #74 closed

[2022-07-02 05:20] khlr commented on #74
Thank you for this contribution, Kellen! 🙂
It's good to have this change in the codebase!

However, I think we can do without a release for now, since `InstallTrigger` is being made available again.

[2022-07-23 11:22] khlr opened #79 "Manifest V3"
SAML-tracer is currently a Manifest V2 WebExtension. In 2018, [Chrome announced Manifest V3][1]. Migrating to Manifest V3 requires quite some effort form a WebExtension, but in principle it is probably doable. Have a look at the [Firefox][2]- or [Chrome][3]-Migration Guide for more details.

However, Chrome will **discontinue support for V2 by the end of 2022**. So theoretically there is not much

[2022-07-23 12:47] tvdijen commented on #79
I never read anywhere that the WebRequest API is being dropped by Chrome.. Just that you need to use their new API for _modifying_ requests. Also, when looking at the sunset list, I don't think we use any of those?

[2022-07-26 16:43] kellenmurphy commented on #79
@tvdijen and @khlr -- from the [migration checklist](https://developer.chrome.com/docs/extensions/mv3/mv3-migration-checklist/#api_checklist) it *DOES* seem that it is only deprecated for blocking webRequests... can't we just remove 'blocking' from the extraInfoSpec?

Perhaps I'm wrong... but I did a quick smoke test of the current code with 'blocking' removed from extraInfoSpec and the "webReques

[2022-07-27 07:05] khlr commented on #79
Citing one of my favourite idioms: _Those who can read have a clear advantage._
So you're obvisously in advance 😁

So you're certainly right, @kellenmurphy! I simply overread that crucial little word.

SAML-tracer probably works fine without `webRequestBlocking` but there's one situation where I'm not completely sure if the blocking-feature will be necessary:

The [`reviseRedirectedRequestMethod`]

[2022-07-27 14:49] kellenmurphy commented on #79
Ironically from the note, FF is the misbehaving party for Case 2 in reference to the [`reviseRedirectedRequestMethod`](https://github.com/simplesamlphp/SAML-tracer/blob/main/src/SAMLTrace.js#L707) issue.

It's on my to-do list to attempt to help with this, so I'm glad to report back my findings. From a naive look at the errors thrown from a first go-through last night this looks like a doable job

[2022-07-29 13:01] kellenmurphy commented on #79
I have a PR for this coming inbound for this shortly. It needs to be evaluated by others, especially in light of https://github.com/simplesamlphp/SAML-tracer/issues/79#issuecomment-1196343209, as I'm not 100% certain I'm accurately reflecting the circumstances in which that code is invoked. I will provide more context on the PR.

It also should be noted that FF doesn't yet support MV3, so we'll ne

[2022-08-01 03:10] slowerogue commented on #66
I have the same issue, on my VM, just normal windows 10 without any antivirus installed.

[2022-08-01 13:06] kellenmurphy commented on #66
I was able to replicate this as well, based on what info @slowerogue provided above.

![2022-08-01 08_54_32](https://user-images.githubusercontent.com/30330479/182152553-468ed3a7-fa72-4b84-9c66-f43fd6920b37.png)

I simply triggered an AuthnRequest to an IDP that had a self-signed certificate loaded. I was unable to export the AuthnRequest in SAML-Tracer. Even trying the export again after clicking

[2022-08-01 13:16] kellenmurphy commented on #66
I also just noticed that we're dead-threading here... I'm going to post my comment above on the open issue #69.

[2022-08-01 13:20] kellenmurphy commented on #69
@bzbzh were any of the traced events blocked by Firefox due to a security warning, i.e. for a self-signed certificate which hadn't been accepted? i.e. see: https://github.com/simplesamlphp/SAML-tracer/issues/66#issuecomment-1201177744

I'm able to replicate the trace js error that causes a null export under that condition.

[2022-08-01 17:31] bzbzh commented on #69
@kellenmurphy I have no "Accept Risk and Continue" message. The certificate is a let's encrypt one. Is there another way/thing to test?

[2022-08-01 17:58] kellenmurphy commented on #69
@bzbzh Okay, no need for more testing... it is telling though that there's *something* odd about certain traces. I'm going to dig on the thread I have re: self-signed cert warnings to see if I can isolate why that gets the `null`... and maybe we'll solve your problem as well in the meantime?

[2022-08-04 11:32] Lewisspiller opened #81 "Error synchronisation code"
My stuff 2.0, McDonald’s worker

[2022-08-10 09:56] #81 closed

[2022-08-30 13:54] derthnada opened #82 "Potential breaking change?"
I'm using Firefox Developer Edition 105.0b4 (64-bit) on MacOS 12.5.1. Developer Edition automatically gets all beta updates, and with the latest one, SAML-Tracer has stopped working. Specifically, the window renders, but no traffic shows up.

Obviously, since this is a beta, this may just be due to a passing bug, so I don't expect a fix or anything. I just wanted to bring it to your attention in c

[2022-08-30 14:12] #82 closed, assigned to nobody

[2022-10-03 12:39] thijskh commented on #79
As an update, Chrome announced that the deadline for dropping Manifest V2 is now pushed back to June 2023 at the earliest.